@use "../../styles/tokens";
@use "../../styles/mixins";
@use "../../styles/base";

.hitScore {
  font-size: clamp(32px, 16vw, 40px);
  padding: clamp(6px, 1.2vw, 12px);
  border-radius: 12px;
}
.hitScore--disabled {
  background: darkseagreen;
}
.cricketIcon {
  font-size: clamp(32px, 16vw, 40px);
  color: tokens.$globalColor;
}
