
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  height: calc(100vh - 32px);
  margin: 16px 0;
  padding: 0 16px;

  width: fit-content;

  background: cadetblue;
  border-radius: 10px;

  box-sizing: border-box;

}
