@use "tokens";
@use "reset";
@use "base";
@use "utilities";

body {
  margin: 0;
}

.gameboard {
  padding: 16px 40px;
  background: cadetblue;
  width: 400px;
  border-radius: 10px;

  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;

  margin: 8px auto;
  height: calc(100dvh - 16px);

  box-sizing: border-box;
}

.board-header {
  padding: 12px 16px;
  flex: 0 0 auto;
  position: relative;
}
.footer {
  padding: 12px 16px;
  flex: 0 0 auto;
  position: static;
}

.board-title {
  margin: 0;
  text-align: center; /* horizontal zentriert */
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameboard-content {
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px 16px;
}

.game {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

