body {
  margin: 0;
}

.gameboard {
  padding: 16px 40px;
  background: cadetblue;
  width: 400px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  margin: 8px auto;
  height: calc(100vh - 16px);

  box-sizing: border-box;

}

.header,
.footer {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  overflow-y: hidden;
}

.player-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: lightgray;
  color: black;
  border-radius: 5px;
  align-items: center;
}

.player-name {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.player-switch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  user-select: none;
}
.player-switch-button .p-button {
  background: lightgray;
}
.score-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: lightgray;
  border-radius: 5px;
}

.base-score {
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkslategray;
  border-radius: 20px;
  width: 100px;
  height: 75px;
  caret-color: transparent;

  &--focused {
    outline: 2px solid blue;
  }
}

.hit-score {
  .cricket-icon {
    font-size: 40px;
    color: white;
  }
}

.number-score {
  color: white;
  font-size: 40px;
}

.hit-score--disabled {
  background: darkseagreen;
}

.total-score {
  //@include base-score;
  font-size: 40px;
  color: white;
}

.total-score--winner {
  background: greenyellow;
  color: darkslategray;
}